@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    margin: 0;
}

/***** Cabeçalho *****/

header {
    background-color: #C4C4C4;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    width: 100vw; 
}


.titulo{
    margin-left: 15px; 
}

.linksMenu {
    width: 85%; 
    text-align: right;

}

.linksMenu a{
    margin: 15px;
    text-decoration: none;
}

/***** Descrição *****/

.imagem img {
    border-radius: 50%;
    margin-left: 15vw;
    margin-top: 2vh;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F3F3F3;
}

.descricao {
    width: 50%;
    margin-left: 3%; 
}

/*****  ****/

.cincoItens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.itensLista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}